<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="clases">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="asistencia">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Asistencia</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
